    [OUTPUT]
        Name                  es
        Match                 *
        Host                  nr-elk.hitwc.link
        Port                  443
        Path                  /elasticsearch
        HTTP_User             elastic
        HTTP_Passwd           FENclta65S0n7ncrjuK2
        Logstash_Format       On
        Logstash_Prefix_Key   logstash-
        Replace_Dots          On
        Retry_Limit           False
        tls                   On