version: '3.4'
x-aws-vpc: 'vpc-010e28d6ac8abed72'
services:
  users:
    image: waltchang97/utopia-users-microservice
    environment:
      - DB_HOST=/run/secrets/DB_HOST
      - SECRET_KEY=/run/secrets/SECRET_KEY
      - DB_USER=/run/secrets/DB_USER
      - DB_USER_PASSWORD=/run/secrets/DB_USER_PASSWORD
      - DB=/run/secrets/DB
    secrets:
      - DB_HOST
      - SECRET_KEY
      - DB_USER
      - DB_USER_PASSWORD
      - DB
    ports:
      - ${USER_PORT}
  flights:
    image: waltchang97/utopia-flights-microservice
    environment:
      - DB_HOST=/run/secrets/DB_HOST
      - SECRET_KEY=/run/secrets/SECRET_KEY
      - DB_USER=/run/secrets/DB_USER
      - DB_USER_PASSWORD=/run/secrets/DB_USER_PASSWORD
      - DB=/run/secrets/DB
    secrets:
      - DB_HOST
      - SECRET_KEY
      - DB_USER
      - DB_USER_PASSWORD
      - DB
    ports:
      - ${FLIGHT_PORT}
  bookings:
    image: waltchang97/utopia-bookings-microservice
    environment:
      - DB_HOST=/run/secrets/DB_HOST
      - SECRET_KEY=/run/secrets/SECRET_KEY
      - DB_USER=/run/secrets/DB_USER
      - DB_USER_PASSWORD=/run/secrets/DB_USER_PASSWORD
      - DB=/run/secrets/DB
    secrets:
      - DB_HOST
      - SECRET_KEY
      - DB_USER
      - DB_USER_PASSWORD
      - DB
    ports:
      - ${BOOKING_PORT}

secrets:
    DB_HOST:
      file: ./db_host
    SECRET_KEY:
      file: ./secret_key
    DB_USER:
      file: ./db_user
    DB_USER_PASSWORD:
      file: ./db_user_password
    DB:
      file: ./db
  