---
- hosts: localhost
  connection: local
  gather_facts: false
  tasks:

      ##########################
      ######  Get VPC ID  ######
      ##########################
    - name: Getting VPC info
      ec2_vpc_net_info:
        region: "{{ REGION }}"
        filters:
          "tag:Name": "{{VPC_NAME}}"
      register: vpc


    - name: Setting vpc_id fact
      set_fact:
        VPC_ID: "{{ vpc.vpcs[0].vpc_id }}"



      ##############################
      ######  Get Subnet IDs  ######
      ##############################
    - name: Getting private subnets info
      ec2_vpc_subnet_info:
        region: "{{ REGION }}"
        filters:
          vpc-id: "{{ VPC_ID }}"
          "tag:kubernetes.io/role/internal-elb": "1"
      loop:
        - subnet1
        - subnet2
      register: subnets


    - name: Setting subnet1 fact
      set_fact:
        SUBNET1: "{{ subnets.results[0].subnets[0].id }}"


    - name: Setting subnet2 fact
      set_fact:
        SUBNET2: "{{ subnets.results[0].subnets[1].id }}"


      ##############################
      ######  Create Cluster  ######
      ##############################
     
    - name: Create EKS cluster
      shell: |
        eksctl create cluster --name="{{ CLUSTER_NAME }}" --region="{{ REGION }}" --fargate \
        --vpc-private-subnets="{{SUBNET1}},{{SUBNET2}}"
      tags: ['create']
      ##############################
      ######  Set Up Cluster  ######
      ##############################

    - name: Associate Open ID Provider
      shell: |
        eksctl utils associate-iam-oidc-provider --cluster="{{ CLUSTER_NAME }}" --approve
      tags: ['create']
  
    - name: Switch Context to Cluster
      shell: |
        aws eks --region "{{ REGION }}" update-kubeconfig --name "{{ CLUSTER_NAME }}"


      #####################################
      ##### Set up Ingress controller #####
      #####################################
    - name: Create ALB Ingress Controller
      shell: |
        kubectl apply -f "https://raw.githubusercontent.com/kubernetes-sigs/aws-alb-ingress-controller/v1.1.4/docs/examples/rbac-role.yaml"
        eksctl create iamserviceaccount \
          --name=alb-ingress-controller \
          --namespace=kube-system \
          --cluster="{{ CLUSTER_NAME }}" \
          --attach-policy-arn="arn:aws:iam::{{ AWS_ACCOUNT_ID }}:policy/ALBIngressControllerIAMPolicy" \
          --override-existing-serviceaccounts \
          --approve

        curl -sS "https://raw.githubusercontent.com/kubernetes-sigs/aws-alb-ingress-controller/v1.1.4/docs/examples/alb-ingress-controller.yaml" \
            | sed "s/# - --cluster-name=devCluster/- --cluster-name={{ CLUSTER_NAME }}/g" \
            | sed "s/# - --aws-vpc-id=vpc-xxxxxx/- --aws-vpc-id={{ VPC_ID }}/g" \
            | sed "s/# - --aws-region=us-west-1/- --aws-region={{ REGION }}/g" \
            | kubectl apply -f -


      #################################
      #### Create Secrets from SSM ####
      #################################

    - name: Extract Secrets from SSM and create Kubernetes Secrets
      shell: | 
        kubectl create secret generic db-info \
          --from-literal=db_user="{{ DB_USER }}" \
          --from-literal=db_host="{{ DB_HOST}}" \
          --from-literal=db_user_password="{{ DB_USER_PASSWORD }}"
        kubectl create secret generic jwt-secret \
          --from-literal=secret_key="{{ SECRET_KEY }}"


      ################################
      ### kubectl create resources ###
      ################################

    - name: Create Kubernetes Resources
      shell: |
        kubectl apply -f service.yaml -f ingress.yaml
        sed -e 's/$AWS_REGION/'"{{REGION}}"'/g' -e 's/$AWS_ACCOUNT_ID/'"{{AWS_ACCOUNT_ID}}"'/g' -e 's/$RECORD_NAME/'"http:\/\/{{ ENVIRONMENT }}-{{RECORD_NAME}}"'/g' deployment.yaml | kubectl apply -f -
      args:
        chdir: "{{ EKS_LOCATION }}"


    - name: Set up CloudWatch Logs
      shell: |
        kubectl apply -f namespace.yaml
        sed -e 's/$AWS_REGION/'"{{REGION}}"'/g' cloudwatch.yaml | kubectl apply -f -
        curl -o permissions.json https://raw.githubusercontent.com/aws-samples/amazon-eks-fluent-logging-examples/mainline/examples/fargate/cloudwatchlogs/permissions.json
        aws iam create-policy --policy-name eks-fargate-logging-policy --policy-document file://permissions.json
        export PodRole=$(aws eks describe-fargate-profile --cluster-name "{{ CLUSTER_NAME }}" --fargate-profile-name fp-default --query 'fargateProfile.podExecutionRoleArn' | sed -n 's/^.*role\/\(.*\)".*$/\1/ p')
        aws iam attach-role-policy \
          --policy-arn "arn:aws:iam::{{ AWS_ACCOUNT_ID }}:policy/FluentBitEKSFargate" \
          --role-name ${PodRole}
        echo $PodRole

        eksctl utils update-cluster-logging \
        --enable-types all \
        --region "{{ REGION }}" \
        --cluster "{{ CLUSTER_NAME }}" \
        --approve
      args:
        chdir: "{{ EKS_LOCATION }}"


      ##############################
      #########  Route 53  #########
      ##############################

    - name: Wait for ingress to create
      shell: |
        sleep 200


    - name: Get ingress endpoint 
      set_fact:
        dns_hostname: kubectl get ingress utopia-ingress --output=jsonpath='{.status.loadBalancer.ingress[0].hostname}'
      tags: ['testing']
  
    - name:
      debug:
        msg: "{{dns_hostname}}"
      tags: ['testing']

    - name: Set up Route53
      shell: | 
        # https://stackoverflow.com/a/70108500
        DNS=$(kubectl get ingress utopia-ingress --output=jsonpath='{.status.loadBalancer.ingress[0].hostname}')        
        aws route53 change-resource-record-sets --hosted-zone-id "{{ HOSTED_ZONE }}" --change-batch '
          {
              "Comment": "Testing creating a record set"
              ,"Changes": [{
                  "Action"              : "CREATE"
                  ,"ResourceRecordSet"  : {
                  "Name"              : "{{ ENVIRONMENT }}-{{ RECORD_NAME }}"
                  ,"Type"             : "CNAME"
                  ,"TTL"              : 120
                  ,"ResourceRecords"  : [{
                      "Value"         : "'$DNS'"
                  }]
                  }
              }]
              }'


