---
- hosts: localhost
  connection: local
  gather_facts: false
  tasks:

    ########################
    #### Switch Context ####
    ########################

    - name: Switch Context to Cluster
      block:
      - name: Try updating kubeconfig
        shell: |
          aws eks --region "{{ REGION }}" update-kubeconfig --name "{{ CLUSTER_NAME }}"
      rescue:
      - name: Catch cluster does not exist
        set_fact:
          cluster_err: aws eks --region "{{ REGION }}" update-kubeconfig --name "{{ CLUSTER_NAME }}"
          
    - name: Print error to stdout
      debug:
        msg: cluster_err.stdout

    - name: Rollout Restart Deployment
      shell: |
        kubectl rollout restart deployments/users-deployment
      when: cluster_err is undefined
    
